DB_GENTLEMEN_USER={{ DB_GENTLEMEN_USER }}
DB_GENTLEMEN_PASSWORD={{ DB_GENTLEMEN_PASSWORD }}
AIRFLOW_TASKS_USER={{ AIRFLOW_TASKS_USER }}
AIRFLOW_TASKS_PASSWORD={{ AIRFLOW_TASKS_PASSWORD }}
REWARD_DB_USER={{ REWARD_DB_USER }}
REWARD_DB_PASSWORD={{ REWARD_DB_PASSWORD }}
AUTO_USER={{ AUTO_USER }}
AUTO_PASSWORD={{ AUTO_PASSWORD }}
AIRFLOW_CONN_DARWIN_MONGO_DB={{ AIRFLOW_CONN_DARWIN_MONGO_DB }}
AIRFLOW_CONN_MONGO_DB={{ AIRFLOW_CONN_MONGO_DB }}
AIRFLOW_CONN_REWARD_DB={{ AIRFLOW_CONN_REWARD_DB }}
AIRFLOW_CONN_REDIS_CACHE={{ AIRFLOW_CONN_REDIS_CACHE }}
